*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.Container{
    height: 100%;
    width: 100%;
    padding: 4rem;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.4rem;
    border: solid 5px white;
}

.item{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: solid  5px white;
    /* justify-self:end;
    justify-self: center;
    justify-self: start;
    justify-self: stretch;*/

    /* align-self: start;
    align-self: end;
    align-self: center;
    align-self: stretch; */

    /* place-self: center;
    place-self: end;
    place-self: start; */
    place-self: stretch;



    
}